#header{
    background-color: white;
    height: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.menu{
    list-style: none;
    float: right;
}

.menu li{
    float: left;
    padding: 10px;
}