<div class="sidebar">
  <h2>Filters:</h2>
  <div>
    <h4>Property type</h4>
    <mat-form-field>
      <mat-select (selectionChange)="setType($event.value)" [(value)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>Sort By Price</h4>
    <mat-form-field>
      <mat-select (selectionChange)="setSort($event.value)" [(value)]="selectedSort">
        <mat-option value="ascending"> Ascending </mat-option>
        <mat-option value="descending"> Descending </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <a [href]="downloadJsonHref" download="properties.json"> Download JSON </a>
  </div>
</div>